* {
    box-sizing: border-box;
    color: #6799FF;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

/* Add your CSS here */


/*NAV CONTAINER  */

.nav-container {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;      
    width: 100%; 
}

.column {
    flex: 1;
    text-align: center;
    /* min-height: 100px;
    min-width: 100px;
    max-height: 100px;*/
     max-width: 140px;
}

.column nav {
    position: absolute;
    left: 0;
    width: 100%;
}

.main-nav-item > a {
    text-transform: uppercase;
}

.main-nav-item:hover {
    border-bottom: 1px solid #6799ff;
}

.x {
    padding-top: 5px;
}
/*NAV TOGGLE  */
.toggle-hide {
    display: none;
}


/*sub nav  */
.nav-sub {
    background-color: #F9FBFF;
    border-top: 1px solid #eeeeef;
    border-bottom: 1px solid #eeeeef;
    list-style-type: none;     
    display: flex;
    padding: 80px;
    margin-top: 8px; 
    width: 100%; 
    text-align: center;
}

.nav-sub li {
    flex: 1;
}

.nav-sub li p {
    color: black;
 
    text-align: center;
}

/*ICONS  */
.icon {
    height: 74px;
    width: 74px;
}



/*SIGNIN  */


/*MEDIA QUERIES  */

@media (max-width: 720px) {
    .hide-when-small {
        display: none;
    }
    .hide-when-small > nav:hover {
        color: red;
    }
}

@media (min-width: 720px) {
    .hide-when-big > ul {
        display: none;
    }

    .hamburger {
        display: none;
    }
}
