* {
    box-sizing: border-box;
    background-color: pink;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

/* Add your CSS here */

.container {
    display: flex;
    flex-direction: row;       

     
}

nav {
    /* min-width: 50px;
    min-height: 50px; */
    /* flex-direction: row-reverse; */
    justify-content: center;

}

.courses {

}

.how-it-works {

}

.reviews {

}

.pricing {

}

.sign-in {

}

@media (max-width: 720px) {
    .hide-when-small {
        display: none;
    }
    .hide-when-small > nav:hover {
        color: red;
    }
}

@media (min-width: 720px) {
    .hide-when-big > ul {
        display: none;
    }

    /* ul {
        display: initial;
    } */
    .hamburger {
        display: none;
    }
}

