* {
    box-sizing: border-box;
    color: #6799FF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

/* Add your CSS here */


/*NAV CONTAINER  */

.nav-container {
    display: flex;
    flex-direction: row; 
    list-style-type: none;      
    width: 100%; 
}


.column {
    min-height: 100px;
    min-width: 100px;
}

.column nav {
    position: absolute;
    left: 0;
    width: 100%;
}


/*NAV TOGGLE  */
.toggle-hide {
    display: none;
}


/*sub nav  */
.nav-sub {
    background-color: #F9FBFF;
    display: flex;
    flex-direction: row; 
    list-style-type: none;      
    width: 100%; 
}


/*ICONS  */
.icon {
    height: 20px;
    width: 20px;
}


/*MEDIA QUERIES  */

@media (max-width: 720px) {
    .hide-when-small {
        display: none;
    }
    .hide-when-small > nav:hover {
        color: red;
    }
}

@media (min-width: 720px) {
    .hide-when-big > ul {
        display: none;
    }

    .hamburger {
        display: none;
    }
}
